body h1{
  text-align: center;
}
.content-table {
  width: 100%;
}
.content-table thead tr{
  background: #6B13D1;
  color:#ffffff;
  text-align: Center;
  font-weight: bold;
  width: auto;
}
.content-table td{
  padding: 12px 15px;
    text-align: Center;
}
.content-table tbody tr{
  border-bottom: :1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
  /* not work */
  background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #6B13D1;
}
div.search input.btnSearch{
  background-color: #6B13D1;
  color:white;
  width: 10%;
}

div.search input{
  font-weight: bold;
  font-size: 20px;
  margin: 25px;
  padding: 10px;
}
div.search{
  text-align: center;
}
