nav.head{
	height:70px;
	width:100%;
	background:	#6B13D1;
	position: fixed;
	left: 0;
	top: 0;
}
label.logo{
	font-size:35px;
	font-weight:bold;
	color:white;
	padding:80px;
	line-height:70px;
}
nav.head ul{
	float:right;
	margin-right:40px;
	width: auto;
	line-height:40px;
}
nav.head li{
	display: inline-block;
	margin: 0 8px;
	line-height:25px;
}
nav.head a{
	display: block;
	text-decoration: none;
	color:white;
	font-size:18px;
	text-transform:uppercase;
	border:1px solid transparent;
	padding:7px 10px;
	border-radius:3px;
}
nav.head a.active,nav.head a:hover{
	border:1px solid white;
}
div.slider{
	width:auto;
	padding:0px;
	margin: 0px;
	top: 0;
	height:400px;
	background-image:url('country.jpg');
}
div.Mian_Title h1{
	text-align:center;
}
div.Mian_Title h3{
	text-align:center;
}
.start {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #0dcfff;
	display:inline-block;
	cursor:pointer;
	color:#3de8ff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:18px 33px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.subTitle h1{
	text-align:center;
}

.subTitle h1{
	text-align:center;
}
